<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>lcov</Format>
          <OutputDirectory>$(SolutionDir)\TestResults\Coverage</OutputDirectory>
          <Exclude>
            [P7CreateRestApi_Tests]*,
			[P7CreateRestApi]*Dto*,
			[P7CreateRestApi]*Domain*,
			[P7CreateRestApi]*Migration*,
			[P7CreateRestApi]*Context*,
			[P7CreateRestApi]*Program*,
			[P7CreateRestApi]*Middleware*,
			[P7CreateRestApi]*Config*,
			[P7CreateRestApi]*Repositories*,
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
